:root {
  --width-size-menu: 270px;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #fff;
  color: #333
}

#sidebar {
  width: 270px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #5500c2;
  color: #fff;
  overflow-y: auto;
  transition: transform .3s;
  z-index: 1000
}

#sidebar.toggled {
  transform: translateX(-100%)
}

#map {
  margin-left: 270px;
  height: 100vh;
  transition: margin-left .3s;
  width: 100%
}

#map.fullscreen {
  margin-left: 0;
  width: 100%
}

#toggle-sidebar-btn {
  position: absolute;
  top: 10px;
  left: 280px;
  z-index: 1050;
  transition: left .3s
}

#sidebar.toggled~#toggle-sidebar-btn {
  left: 10px
}

#sidebar.toggled~#map {
  margin-left: 0
}

#controls-container,
.controls-container {
  position: absolute;
  z-index: 10000;
  display: flex;
}

#controls-container {
  bottom: 20px;
  left: 10px;
  flex-direction: column;
  gap: 10px
}

.controls-container {
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, .7);
  padding: 10px;
  border-radius: 5px;
  gap: 15px;
  align-items: center
}

.control-btn {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  transition: background-color .3s, box-shadow .3s
}

.control-btn:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

.control-btn:active {
  background-color: #ddd
}

.leaflet-control-zoom {
  display: none !important
}

input[type=range] {
  width: 100%;
  margin-top: 0px;
  pointer-events: auto;
  touch-action: none;
  position: relative;
  z-index: 1002;
  width: 200px;
  padding: 5px 0;
}

.highlight {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, .8);
  transition: .3s
}

.layer-dim,
.menu-dim {
  opacity: .3;
  transition: opacity .3s
}

.layer-visible,
.menu-visible {
  opacity: 1;
  transition: opacity .3s
}

.hidden-item {
  display: none
}

.show-more-btn {
  cursor: pointer;
  color: #fff;
  text-decoration: none
}

.offcanvas {
  max-width: auto
}

.offcanvas-end {
  top: 0;
  right: 0;
  width: 360px;
  border-left: 1px solid rgba(0, 0, 0, .2)
}

.offcanvas-start {
  top: 0;
  left: 0;
  width: 360px;
  border-right: 1px solid rgba(0, 0, 0, .2);
  transform: translateX(-100%)
}

.offcanvas.show {
  max-width: 270px;
}

.offcanvas-body p {
  word-break: break-word;
  margin-bottom: 0;
  padding-left: 10px
}
.offcanvas.show {
  z-index: 10000;
}